.hyperlink {
    text-decoration: white solid;

}

/* unvisited link */

a:link {
    color: black;
}

/* visited link */

a:visited {
    color: black;
}

/* mouse over link */

a:hover {
    color: black;
}

/* selected link */

a:active {
    color: black;
}

.brand {
    font-size: 32px;
    padding-left: 8px;
    padding-right: 8px
}

.text-heading{
    font-size:20px;
    margin-left: 8px;
    margin-right: 8px;
    font-style: initial;
    text-align: center;
}

.text-normal{
    font-size:16px;
    padding-left: 8px;
    padding-right: 8px;
}

.center-align{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

.profile-size{
    width: 25%;
}